
* {
  padding: 0;
  margin: 0;
  border: 0;
}

body{
    background-color: #F8ECDE;
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Open Sans Condensed', sans-serif;
    overflow: auto;
    overflow-x: hidden;
}

header{
  float: left;
  width: 100%;
  height: 120px;
  z-index: 1;

}

.logo{
  margin-left: -30px;
  width: 200px;
  height: 155px;
  z-index: 1;
}

/*botoes*/


.box-2 { 
  background-color: #FED8C1; 
  height: 50px;
  width: 200px;
  margin-top: -110px;
  margin-left: 820px;
}

.box-3 { 
  background-color: #FED8C1; 
  height: 50px;
  width: 200px;
  margin-top: -50px;
  margin-left: 1040px;
}

.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 200px;
  cursor: pointer;
}

.btn-one {
  color: #6C5130;
  transition: all 0.3s;
  position: relative;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(79, 41, 10, 0.5);
  border-bottom-color: rgba(79, 41, 10, 0.5);
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}

/*botoes acaba aqui*/


.lin1{
  position: relative;
  top: -120px;
  height: 400px;
  width: 300px;
  margin-left: -400px;
}

.figrosa1{
  position: relative;
  top: -220px;
  margin-left: -1000px;
  height: 300px;
  width: 400px;
}

h1{
  font-family: 'Meddon';
  color: #E1BB34;
  position: relative;
  z-index: 1;
  margin-left: 350px;
  top: 80px;
  font-size: 150px;
  align-items: center;
  
}

.lin2{
  position: absolute;
  width: 800px;
  height: 800px;
  top: 500px;
  z-index: -3;
  margin-left: -400px;
}

.figrosa2{
  position: absolute;
  width: 600px;
  height: 800px;
  top: 200px;
  z-index: -4;
  margin-left: -224px;
}

.limao{
  position: absolute;
  height: 600px;
  width: 800px;
  margin-top: 50px;
  z-index: -1;
}

.lire{
  position: relative;
  height: 600px;
  width: 800px;
  z-index: -1;
  margin-top: 50px;
}

.choco{
  width: 300px;
  height: 300px;
  position: relative;
  z-index: 1;
  margin-top: 450px;
  margin-left: -500px;
}

.moran{
  margin-left: -700px;
  margin-top: 420px;
  z-index: 1;
  width: 350px;
  height: 300px;
}

.figrosa3{
  position: relative;
  width: 600px;
  height: 800px;
  top: 0px;
  z-index: -6;
  margin-left: -5px;
}
.lin3{
  position: relative;
  width: 700px;
  height: 600px;
  top: -100px;
  z-index: -3;
  margin-left: -600px;
}



h2{
  font-family: 'Lobster two';
  font-size: 100px;
  color: #E1BB34;
  margin-top: -620px;
  margin-left: 400px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.marrom{
  margin-top: -350px;
  height: 400px;
  width: 100%;

  position: relative;
}

.contato{
  width: 100%;
  height: 200px;
  margin-top: 100px;
  float: left;
}

.mapa{
  width: 40%;
  margin-top: -200px;
  margin-left: -300px;
}
iframe{
  border: 2px solid #000;
  height: 300px;
}

h3{
  font-family: 'Lobster two';
  font-size: 60px;
  color: #E1BB34;
  margin-left: 100px;
  margin-top: -300px;
  padding-bottom: 40px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.figrosa4{
  position: absolute;
  width: 600px;
  height: 800px;
  top: 1700px;
  z-index: -4;
  margin-left: 804px;
}

.lin4{
  position: absolute;
  width: 800px;
  height: 800px;
  top: 1700px;
  z-index: -3;
  margin-left: 700px;
}

.figrosa5{
  position: absolute;
  width: 700px;
  height: 700px;
  top: 2000px;
  z-index: -4;
  margin-left: 50px;
}

.lin5{
  position: absolute;
  width: 800px;
  height: 800px;
  top: 2100px;
  z-index: -3;
  margin-left: -100px;
}



/*botao whats*/

.text-box {
  margin-left: -370px;
 margin-top: -100px;
}

.botn:link,
.botn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 30px 80px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: absolute;
}

.botn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.botn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.botn-white {
  background-color: #FACBAE;
  color: #000;
}

.botn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.botn-white::after {
  background-color: #FED8C1;
}

.botn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.botn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translateY(30px);
  }

  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}

footer{
  width: 100%;
  height: 130px;
  margin-top: -130px;
  background-color: #ebb08b;
  float: left;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 100px;
}

ul{
  list-style: none;
}
li{
  margin-top: 10px;
  transition: transform 0.3s ease;
  transition: color 0.3s ease;
  font-family: 'Lobster two';
  color: #6C5130;
  font-size: 20px;
}

.fl{
  font-family: 'Meddon';
  color: #6C5130;
  font-size: 40px;
}



@media screen and (max-width: 1872px){
  .box-2 { 
    margin-left: 65%;
  }
  
  .box-3 { 
    margin-left: 80%;
  }

  .limao{
    margin-top: 500px;
    margin-left: -1360px;
  }
  
  .lire{
    margin-left: -1360px;
    margin-top: 500px;
  }
  
  .choco{
    margin-top: 940px;
    margin-left: -600px;
  }
  
  .moran{
    margin-left: -800px;
    margin-top: 920px;
  }

  h1{
    font-family: 'Meddon';
    color: #E1BB34;
    position: relative;
    z-index: 1;
    margin-left: 600px;
    top: 80px;
    font-size: 150px;
    align-items: center;
  }
  

  h2{
    margin-top: 120px;
    margin-left: 700px;
  }

  .figrosa3{
    top: 1200px;
    margin-left: -1355px;
  }
  .lin3{
    top: 1200px;
    margin-left: -600px;
  }

  .lin2{
    top: 500px;
    margin-left: -100px;
  }
  
  .figrosa2{
    top: 200px;
    margin-left: 50px;
  }

  .lin1{
    top: -120px;
    margin-left: -400px;
  }
  
  .figrosa1{
    top: -220px;
    margin-left: -1350px;
  }

  .marrom{
    margin-top: -150px;
  }
}

@media screen and (max-width: 1485px){
  
}










